@font-face {
	font-family: 'yogaflex';
	src:url('fonts/yogaflex.eot');
	src:url('fonts/yogaflex.eot?#iefix') format('embedded-opentype'),
		url('fonts/yogaflex.woff') format('woff'),
		url('fonts/yogaflex.ttf') format('truetype'),
		url('fonts/yogaflex.svg#yogaflex') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'yogaflex';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 0;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-phone:before {
	content: "\e601";
}
